BasedOnStyle: LLVM

AccessModifierOffset: -2
ColumnLimit: 0
# 开圆括号是否向前对齐
AlignAfterOpenBracket: false
# 多维数组成员对齐
AlignArrayOfStructures: Left
# 对齐连续赋值语句
AlignConsecutiveAssignments: AcrossComments
AlignConsecutiveDeclarations : AcrossComments
AlignConsecutiveBitFields : AcrossComments 
AlignConsecutiveMacros: AcrossComments
# 短case是否在一行
AllowShortCaseLabelsOnASingleLine: true
AllowShortCaseExpressionOnASingleLine: true
AlignConsecutiveShortCaseStatements:
  Enabled:         true
  AcrossEmptyLines: false
  AcrossComments:  true
  AlignCaseArrows: false
  AlignCaseColons: false

AlignOperands: true
AllowAllArgumentsOnNextLine: true
AllowAllParametersOfDeclarationOnNextLine: true

AllowShortFunctionsOnASingleLine: All
AllowShortIfStatementsOnASingleLine: true
# !==================================================
AllowShortLambdasOnASingleLine: Empty
# AllowShortLambdasOnASingleLine: Inline 
# AllowShortLambdasOnASingleLine: All
AllowShortLoopsOnASingleLine: true
AlwaysBreakAfterDefinitionReturnType: false

BinPackArguments: false

BreakBeforeBraces: Custom
BraceWrapping:
  AfterCaseLabel:  false
  AfterClass:      false
  AfterControlStatement: Never
  AfterEnum:       false
  AfterExternBlock: false
  AfterFunction:   false
  AfterNamespace:  false
  AfterObjCDeclaration: false
  AfterStruct:     false
  AfterUnion:      false
  BeforeCatch:     false
  BeforeElse:      false
  BeforeLambdaBody: true
  BeforeWhile:     false
  IndentBraces:    false
  SplitEmptyFunction: true
  SplitEmptyRecord: true
  SplitEmptyNamespace: true
# 22
# BreakBeforeCloseBracketFunction:true
